<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Skill Exchange Portal</title>

    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>

<nav>

    <h2>Skill Exchange</h2>

    <ul>

       <li><a href="https://stupendous-druid-566d4d.netlify.app">Home</a></li>


        <li><a href="/signup">Signup</a></li>

        <li><a href="/login">Login</a></li>

    </ul>

</nav>

<section class="hero">

    <h1>Learn. Share. Grow.</h1>

    <p>

        Skill Exchange Portal allows students to share their skills,
        learn from peers, collaborate on projects and build a strong
        learning community.

    </p>

    <div>

        <a href="/signup" class="btn">Get Started</a>

        <a href="/login" class="btn">Login</a>

    </div>

</section>

<section class="cards">

    <div class="card">

        <h3>📚 Learn Skills</h3>

        <p>Browse skills shared by students and start learning from experts.</p>

    </div>

    <div class="card">

        <h3>🎯 Teach Others</h3>

        <p>Share your knowledge and help others improve their technical skills.</p>

    </div>

    <div class="card">

        <h3>🤝 Collaborate</h3>

        <p>Connect with peers and work together on exciting projects.</p>

    </div>

</section>

</body>

</html>
